*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
    color: white;
}
.header p{
    margin-top: 10px;
    font-size: larger;
    font-style: italic;
    
}

.container{
    width: 650px;
    margin: auto;
    background-color: rgba(3, 3, 82, 0.7);
    color: white;
    padding: 40px;
}

body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: darkblue;
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)
    ), url(../images/survey-form-background.jpeg);
}
#name,#email,#number,#dropdown{
    width:630px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 5px;

}
#comments{
    width:630px;
}
#submit{
    width:630px;
    background-color: rgb(55, 165, 55);
    border: none;
    height: 40px;
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}